body, html {
    font-family: 'Lato', sans-serif !important;
	width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #eee
}

#logo {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    background-color: aliceblue;
    transition: all 0.1s linear;
    cursor: url(http://ani.cursors-4u.net/symbols/sym-8/sym759.ani), url(http://ani.cursors-4u.net/symbols/sym-8/sym759.png), auto !important;
}

#logo:hover {
    height: 200px;
}

#picture {
    height: 40em;
    width: 100%;
    background-image: url("/img/photos/DSC03407.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}

#picture-2 {
    height: 20em;
    width: 100%;
    background-image: url("/img/photos/DSC03396.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}

.align-center {
    text-align: center
}

.infoBox {
    padding: 2em;
}

.fa {
    padding: 0.2em;
}

.white-bg {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.2em;
    border-radius: 0.2em;
}

.btn-gradient {
    background: linear-gradient(45deg, #65C7F4, #324FAA) !important;
    color: white !important;
    border-radius: 10px;
}

.btn-gradient:hover {
    color: #EEE !important;
    font-size: 90%
}

footer {
    padding-bottom: 1em;
    margin-bottom: 2em;
}

li a { 
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%; 
}

footer.page-footer a {
    color: black;
}

footer.page-footer a:hover {
    color: black;
    padding-left: 1em;
}