.title{
    text-align: center;
    margin-top: 15px;
}

h1, h2, h4 {
    text-align: center;
    margin: 0;
    color: #555555;
}

hr {
    color: coral;
}

#faqContainer {
  width: 90%; 
    margin-left: auto;
    margin-right: auto;
}